<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/css.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script/main.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
    <body>
        <div id="header">
            <a href="/plots_list">Участки</a>
            <a href="/owners_list">Владельцы</a>
            <a>История владений</a>
            <a>Выдача справок</a>
            <a href="/db_tables_list">База данных</a>
            <div class="logout">
                <span>Вы вошли как <b>{{ username }}</b></span>
                <a href="/logout">Выйти</a>
            </div>
        </div>
        <div class="content"> {% block content %}{% endblock %}</div>
    </body>
</html>